        input {
            width: 300px;
        }

        .template {
            display: none;
        }

        .ui-icon-circle-close {
            cursor: pointer;
        }

        #ajaxGetUserServletResponse {
            margin-top: 1em;
        }

        #ajaxGetUserServletResponse li .ui-icon-close {
            float: left;
            margin: 0.4em 0.2em 0 0;
            cursor: pointer;
        }